header {
  color: $color2;
  // background: url(../img/bg.jpg) center/cover fixed;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-text {
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;

  h1 {
    text-transform: uppercase;
    font-family: "Inter";
    margin-bottom: 30px;
    font-size: 3rem;
  }
  p {
    line-height: 30px;
    font-style: italic;
    margin-bottom: 30px;
  }

  i {
    display: flex;
    border: 1px solid white;
    padding: 20px;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1rem;
    margin: 0 auto;
  }
}
nav {
  display: grid;
  grid-template-columns: 70% 30%;
  position: absolute;
  bottom: 0;
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.182);
  text-transform: uppercase;
  font-family: "Inter";
  padding: 0;

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
  }
  li {
    background: transparent;
    padding: 20px 20px;
    transition: all 150ms;
    color: rgba(255, 255, 255, 0.709);
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 1.2px;
  }
  .nav-text {
    li {
      height: 100%;
      &:hover {
        background: rgba(255, 255, 255, 0.745);
        color: black;
        height: 100% auto;
      }
    }
  }
  .nav-icons {
    justify-content: flex-end;
    align-items: center;
  }
  i {
    color: $color2;
    font-size: 1.2rem;
    transition: 200ms;
    &:hover {
      transform: scale(1.9);
    }
  }
}
