.section1,
.section2 {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: $color2;
}
.section1 {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__date {
    font-family: "Merriweather", sans-serif;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      border-bottom: solid 1px $color3;
      width: 100%;
      left: 0;
      top: 50%;
      z-index: 1;
    }
    h4 {
      display: inline-block;
      background: $color2;
      position: relative;
      z-index: 3;
      padding: 0 30px 0 30px;
    }
  }
  &__text {
    p {
      font-family: "Merriweather", sans-serif;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }
  &__img img {
    width: 100%;
  }
}
.section2 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.section2-container {
  border-left: 0.5px solid $color3;
  border-top: 0.5px solid $color3;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  img {
    width: 100%;
    margin-bottom: 30px;
  }
  p {
    font-family: "Merriweather", serif;
    line-height: 25px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .section1,
  .section2 {
    width: 90%;
  }
  .section1 {
    padding: 20px 20px;
  }
  .section2 {
    display: flex;
    flex-direction: column;
    padding: 0px 0;
  }
  .section2-container {
    padding: 20px;
  }
}
